
html, body {
	background-color: #f9f8f5;
}

p, .ceremony_location{
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	color: #6b6a67;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 15px;
}

.ceremony_location {
	background: url("../images/icons.png") no-repeat;
	margin-top: 10px;
}


h1,h2, h3, h4, h5 {
	font-family: "Oswald", sans-serif;
}

h2 {
	font-size: 25px;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
}

a {
	color: #eb7b54;
	text-decoration: none;
}


.button {
	padding: 5px 25px;
	font-family: "Ubuntu", sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	
	
}



.orange-button {
	background: #eb7b54;
	color: #fff;
	border: none;
	border-radius: 5px;
}

.orange-button:hover {
	background: #333;
}




/******* Clear Fix ******* */

.cf:before,	/*Clear Fix*/
.cf:after {
  content: "";
  display: table;
}
 
.cf:after {
  clear: both;
}
 
.cf {
  zoom: 1; /* ie 6/7 */
}

/*	header , navigation and footer */

.wrap {
	width: 960px;
	margin: 0 auto;
	
	

}



/******* Header ******/

.header {
	
	background: url(../images/heart-icon.png) no-repeat 10px;
	padding: 25px 0;
	


}

.header__logo h1{
	font-size: 36px;
	text-transform: uppercase;
	border-right: 1px solid #deddda;
	float: left;
	margin-left: 40px;
	margin-right: 5px;
	padding-right: 8px;



}

.header__logo span {
	color: #c7c6ca;
}

.header__weddingDate {width: 400px;
	float: left;
		border-left: 1px solid #deddda;
		padding: 7px;
		color: #b3b2b0;
		
}


/****** Main Navigation ********/

nav {
	background-color: #fff;
	
	padding: 15px 0;
	border-top: 1px solid #deddda;
	border-bottom: 1px solid #deddda;
	
	

}

nav ul {
	width: 680px;
	margin: 0 auto;
	padding: 0;
	


}



nav li {
	float: left;
	margin-left: 35px;
	
}

nav li:first-child {
	list-style: none;
}

nav li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #45433e;
	font-size: 16px;
  font-family: "Gruppo";
	font-weight: bold;
}

nav a:hover {
	color: #b1b0ac;
}


#home .nav-hom a, #story .nav-story a, #ceremony .nav-cerem a,
#gift .nav-gift a, #rsvp .nav-rsvp a, #gallery .nav-gall a{


	color: #eb7b54;
}


section {
	padding-bottom: 100px;
}


.ceremony_location li  {
	margin-left: 35px;
	line-height: 26px;
}


/*********** Footer ***********/

footer {
	text-align: center;
	border-top: 1px solid #deddda;
	padding: 20px 0;
}

footer p {
	font-size: 12px;
}








